@model AppMvcFuncional.Models.Anotacao

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Anotacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-3">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="SubTitulo" class="control-label"></label>
                <input asp-for="SubTitulo" class="form-control" />
                <span asp-validation-for="SubTitulo" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Prioridade" class="control-label"></label>
                <select asp-for="Prioridade" class="form-control form-select">
                    <option value="0">Muito baixa</option>
                    <option value="1">Baixa</option>
                    <option value="2" selected>Normal</option>
                    <option value="3">Alta</option>
                    <option value="4">Muito alta</option>
                    <option value="5">Emergencial</option>
                </select>
                <span asp-validation-for="Prioridade" class="text-danger"></span>
            </div>


            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
